body {
        font-family: "Inter", "Inter Placeholder", sans-serif;
        font-weight: 500;
}
h1{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2.1px;

}
p{
    font-weight: 500;
    color: var(--token-1021654d-251a-4750-952b-de3f7005260e, rgb(136, 136, 136));
    line-height: 1.5em;
    letter-spacing: -0.7px;
    color: var(--muted) !important;
    font-size: 20px;


}
a{
    color: var(--link) !important;
    text-decoration-line: underline !important;
    line-height: 1.5em;
    letter-spacing: -0.7px;
    font-weight: 500;
    font-size: 18px;
}
html, body {
    background-color: var(--bg) !important;
    color: var(--text) !important;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text) !important;
}
[data-theme="light"] {
    --bg: #ffffff;
    --text: #000000;
    --muted: #888888;
    --link: #2563EB;
}
[data-theme="dark"] {
    --bg: #000000;
    --text: #ffffff;
    --muted: #ffffff99;
    --link: #ffffffcc;
}
